<h1>Space Events For: {{ currentDate | date: dateFormat }}</h1>
<div>
    <button (click)="decrementDate()">Previous</button>
    <button (click)="resetDate()">Current</button>
    <button (click)="incrementDate()">Next</button>
</div>

<div>
    <button (click)="setDateFormat(0)">Date Format: YYYY-MM-DD</button>
    <button (click)="setDateFormat(1)">Date Format: MM/DD/YYYY</button>
</div>

<div class="container">
    <div class="row" *ngIf="!spaceEvents.previous">
        <div class="col-md-4"><p><em>Loading...</em></p></div>
    </div>
    <div class="row" *ngIf="spaceEvents.previous">
        <div class="col-md-2">
            <h4><strong>Previous:</strong><br />{{ spaceEvents.previous.name }}</h4>
            <button (click)="jumpTo(spaceEvents.previous.month-1, spaceEvents.previous.day)">Jump To...</button>
        </div>
        <div class="col-md-6" *ngFor="let spaceEvent of spaceEvents.current">
            <h3>{{ spaceEvent.name }}</h3>
            <h5>{{ spaceEvent.subtitle }}</h5>
            <b>Date: </b>{{ spaceEvent.date | date: dateFormat }}<br />
            <b>Country: </b>{{ spaceEvent.country }}<br />
            <b>Description:</b><br />
            {{ spaceEvent.description }}<br />
            <a href="{{ spaceEvent.url }}" target="_blank">Learn More!</a>
        </div>
        <div class="col-md-6" *ngIf="!spaceEvents.current">
            <h3>No Anniversaries in the Database for Today</h3>
            <a [routerLink]="['/contact']" target="_blank">Help by Submiting!</a>
        </div>
        <div class="col-md-2">
                <h4><strong>Next:</strong><br />{{ spaceEvents.next.name }}</h4>
                <button (click)="jumpTo(spaceEvents.next.month-1, spaceEvents.next.day)">Jump To...</button>
            </div>
        </div>
</div>