<h1>Rocketversary External Links</h1>

<table class='table'>
    <tbody>
        <tr>
            <th>National Aeronautics and Space Administration (NASA)</th>
            <td><a href="https://www.nasa.gov/" target="_blank">https://www.nasa.gov/</a></td>
        </tr>
        <tr>
            <th>European Space Agency (ESA)</th>
            <td><a href="http://www.esa.int/ESA" target="_blank">http://www.esa.int/ESA</a></td>
        </tr>
        <tr>
            <th>Mile High Astronomy</th>
            <td><a href="https://milehighastro.com/" target="_blank">https://milehighastro.com/</a></td>
        </tr>
        <tr>
            <th>Jet Propulsion Labratory (JPL)</th>
            <td><a href="https://www.jpl.nasa.gov/" target="_blank">https://www.jpl.nasa.gov/</a></td>
        </tr>
        <tr>
            <th>Japanese Aerospace Exploration Agency (JAXA)</th>
            <td><a href="http://global.jaxa.jp/" target="_blank">http://global.jaxa.jp/</a></td>
        </tr>
        <tr>
            <th>The Planetary Society</th>
            <td><a href="http://www.planetary.org/" target="_blank">http://www.planetary.org/</a></td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <th>Digital Ocean (Linux Hosting)</th>
            <td><a href="https://m.do.co/c/79ae62034de3" target="_blank">$10 off coupon!</a></td>
        </tr>
    </tbody>
</table>
