<h1>Contact Rocketversary</h1>

<p>Say hi, provide suggestions, geek out about space!</p>

<table class='table'>
    <tbody>
        <tr>
            <th>Planet</th>
            <td>Earth</td>
        </tr>
        <tr>
            <th>Email</th>
            <td><a href="mailto:rocketversary@kennebel.com">rocketversary@kennebel.com</a></td>
        </tr>
    </tbody>
</table>

<div class="container">
    <div class="row">
        <div class="col-md-6"><h1>About</h1><p>I started this to play around with a bit of coding, and to express my interest in space flight in a way i had not seen yet. Simple, interactive site remembering the amazing things that we have accomplished on our journey to reach the stars.</p><p>-Jeremy</p></div>
    </div>
</div>